/* Base Elements */
* {
	box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #3a3a3a;
}

a { 
	color: white;
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	margin: 0;
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	background: linear-gradient(to bottom right, #319ebd, #072b65);
	padding: 1em 0;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.container {
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
	}
}
